<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=icon type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <title>Bangalore School Connectivity Explorer</title>
    {% include 'base.html' %}
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="30" height="30"
                class="d-inline-block align-top" alt="" loading="lazy">
            BSC Explorer
        </a>
    </nav>
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Overview</h2>
                <div id="overview-map" style="width: 100%; height: 600px;"></div>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Bus Stops</h2>
                <div id="bus-stop-map" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">Schools</h2>
                <div id="school-map" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-5">
        <div class="row justify-content-between">
            <div class="col-md-1">
                <h2 class="text-center" style="margin-top: 200px;">Routes</h2>
            </div>
            <div class="col-md-9">
                <div id="route-map" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/overview.js') }}"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
    <script src="{{ url_for('static', filename='js/school.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bus_stops.js') }}"></script>
    <script src="{{ url_for('static', filename='js/route.js') }}"></script>
</body>

</html>